# Ruby / Bundler
/.bundle/
/vendor/bundle/
Gemfile.lock

# Gem build artifacts
*.gem
/pkg/
/dist/*
!/dist/.gitkeep

# RSpec / Testing
/coverage/
/spec/reports/

# IDE / Editor
*.swp
*.swo
*~
.vscode/

# Manifests (only example.yaml is tracked!)
manifests/*
!manifests/example.yaml